.header {
    font-family: 'Coming Soon';
    color: #1864AB
}

.title-slogan,
.nav-bar,
.nav-link {
    display: flex;
}

.nav-link {
    color: #1864AB;
    justify-content: flex-end;
    margin-right: 64px;
    margin-top: 24px;
    text-decoration: none;
}

.nav-bar {
    justify-content: flex-end;
}

.title-slogan {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid .5px;
    width: 48%;
    margin: auto;
    /* margin-bottom: 2%; */
    padding-bottom: 3%;
    text-overflow: none;
}

.title,
.slogan {
    margin-bottom: 0;
}

.title {
    font-size: 80px;
    margin-top: 16px;
}

.slogan {
    font-size: 24px;
    margin-top: 8px;
}