.opportunity {
  box-sizing: border-box;
  border: 1px solid #1864AB;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: stretch;
  /* font-size: 13px; */
}

.opp-info {
  display: flex;
  flex-direction: row;
}

.opp-left {
  display: flex;
  font-size: 11px;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
}

.opp-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 9px;
}